* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  background-color: beige;
}

main {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  margin: 40px;
}

.leaderboard {
  display: flex;
  justify-content: space-around;
  margin: 40px 0 0 40px;
  padding: 20px 0;
}

.scores-wrapper {
  display: flex;
  flex-direction: column;
}

.recent-scores {
  display: flex;
  margin-right: 40px;
  width: 100%;
}

.recent-scores p {
  margin-right: 20px;
}

.scores {
  border: 2px solid black;
  margin: 20px 40px 0 0;
  padding: 5px 0 0 5px;
}

.scores p {
  padding: 10px;
}

.add-score {
  display: flex;
  flex-direction: column;
}

.add-score .name {
  margin-top: 20px;
}

.add-score input {
  margin-bottom: 20px;
  padding: 5px;
  border: 2px solid black;
  border-radius: 3px;
}

input:focus {
  outline: none;
}

#submit {
  width: 60px;
  align-self: flex-end;
}

button {
  border: 2px solid black;
  box-shadow: 1px 3px;
  padding: 0 5px;
  cursor: pointer;
}
